<!-- navigvation tempalte -->
<template name="navigation">

	
	<!--unorder list of links to the various route -->
	<ul>
		<li><a href="{{pathFor route='home'}}">Home</a></li>
		<li><a href="{{pathFor route='register'}}">Register</a></li>
		<li><a href="{{pathFor route='login'}}">Login</a></li>
		<li><a href="{{pathFor route='chatList'}}">Chats</a></li>
		<!--<li><a href="{{pathFor route='messagesList'}}">Messages</a></li>-->
		<li><a href="{{pathFor route='feedList'}}">Feed</a></li>
		<li><a href="{{pathFor route='eventsList'}}">Events</a></li>


	</ul>

</template>