<!-- navigvation tempalte -->
<template name="navigation">

	
	<!--unorder list of links to the various route -->
	<ul>
		{{#if currentUser}}
			<li><a href="{{pathFor route='home'}}">Home</a></li>
			<li><a href="{{pathFor route='chatList'}}">Chats</a></li>
			<!--<li><a href="{{pathFor route='messagesList'}}">Messages</a></li>-->
			<li><a href="{{pathFor route='feedList'}}">Feed</a></li>
			<li><a href="{{pathFor route='eventsList'}}">Events</a></li>
			<li><a href="{{pathFor route='contactsList'}}">Contacts</a></li>
			<li><a href="{{pathFor route='directoryList'}}">Directory</a></li>
		<!--this conditional will only return true if the current user is logged in-->
			<li><a href="#" class="logout">Logout</a></li>
		{{else}}
			<li><a href="{{pathFor route='login'}}">Login</a></li>
			<li><a href="{{pathFor route='register'}}">Register</a></li>	
		{{/if}}


	</ul>

</template>