<!--this probably isnt needed. people will be added from directory -->
<template name="searchContacts">
    {{#if currentUser}}

      <form name="searchFormContacts">
      	<label for="searchQuery">Search:</label>
      	<input type="text" class="searchQuery" id="searchQuery" Placeholder= "Search a Contact" value="">
    	</form>

      <button name = "selectPersonButton" class="selectPersonButton" id="selectPersonButton">
        {{#each people}}
            {{email}}
        {{/each}}
      </button>


    {{/if}}


</template>